<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./styles/login.css" />
  </head>
  <body>
    <% if (messages.error) { %> <%= messages.error %> <% } %>
    <form action="/login" method="POST">
      <img id="banner" src="./img/hcbanner.svg" alt="Hack Club banner" />
      <br />
      <img width="140px" src="./img/hcicon.svg" alt="Hack Club icon" />
      <h3>HACK CLUB</h3>
      <h2>Orpheus's Odyssey</h2>
      <div>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <button type="submit">
        <svg
          width="100"
          height="90"
          viewBox="0 0 283 90"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 45C0 20.1472 20.1472 0 45 0H238C262.853 0 283 20.1472 283 45C283 69.8528 262.853 90 238 90H45C20.1472 90 0 69.8528 0 45Z"
            fill="#FF8C37"
          />
          <path
            d="M85.2898 36.7273C85.0767 34.928 84.2126 33.5312 82.6974 32.5369C81.1823 31.5426 79.3239 31.0455 77.1222 31.0455C75.5123 31.0455 74.1037 31.3059 72.8963 31.8267C71.7008 32.3475 70.7656 33.0637 70.0909 33.9751C69.428 34.8866 69.0966 35.9223 69.0966 37.0824C69.0966 38.053 69.3274 38.8875 69.7891 39.5859C70.2625 40.2725 70.8662 40.8466 71.6001 41.3082C72.334 41.758 73.1035 42.1309 73.9084 42.4268C74.7133 42.7109 75.4531 42.9418 76.1278 43.1193L79.821 44.1136C80.768 44.3622 81.8215 44.7055 82.9815 45.1435C84.1534 45.5814 85.272 46.1792 86.3374 46.9368C87.4145 47.6825 88.3023 48.6413 89.0007 49.8132C89.6991 50.9851 90.0483 52.4233 90.0483 54.1278C90.0483 56.0928 89.5334 57.8684 88.5036 59.4545C87.4856 61.0407 85.9941 62.3014 84.0291 63.2365C82.076 64.1716 79.7027 64.6392 76.9091 64.6392C74.3049 64.6392 72.05 64.219 70.1442 63.3786C68.2502 62.5381 66.7588 61.3662 65.6697 59.8629C64.5926 58.3596 63.983 56.6136 63.8409 54.625H68.3864C68.5047 55.9981 68.9664 57.1345 69.7713 58.0341C70.5881 58.9219 71.6179 59.5848 72.8608 60.0227C74.1155 60.4489 75.465 60.6619 76.9091 60.6619C78.59 60.6619 80.0992 60.3897 81.4368 59.8452C82.7744 59.2888 83.8338 58.5194 84.6151 57.5369C85.3963 56.5426 85.7869 55.3826 85.7869 54.0568C85.7869 52.8494 85.4496 51.867 84.7749 51.1094C84.1001 50.3518 83.2124 49.7363 82.1115 49.2628C81.0107 48.7893 79.821 48.375 78.5426 48.0199L74.0682 46.7415C71.2273 45.9247 68.9782 44.7588 67.321 43.2436C65.6638 41.7285 64.8352 39.7457 64.8352 37.2955C64.8352 35.2595 65.3857 33.4839 66.4865 31.9688C67.5992 30.4418 69.0907 29.258 70.9609 28.4176C72.843 27.5653 74.9441 27.1392 77.2642 27.1392C79.608 27.1392 81.6913 27.5594 83.5142 28.3999C85.3371 29.2285 86.7813 30.3648 87.8466 31.8089C88.9238 33.2531 89.492 34.8925 89.5511 36.7273H85.2898ZM96.72 64V36.7273H100.91V64H96.72ZM98.8507 32.1818C98.0339 32.1818 97.3296 31.9036 96.7377 31.3473C96.1577 30.791 95.8677 30.1222 95.8677 29.3409C95.8677 28.5597 96.1577 27.8909 96.7377 27.3345C97.3296 26.7782 98.0339 26.5 98.8507 26.5C99.6674 26.5 100.366 26.7782 100.946 27.3345C101.538 27.8909 101.834 28.5597 101.834 29.3409C101.834 30.1222 101.538 30.791 100.946 31.3473C100.366 31.9036 99.6674 32.1818 98.8507 32.1818ZM119.594 74.7955C117.57 74.7955 115.83 74.535 114.374 74.0142C112.918 73.5052 111.704 72.8305 110.734 71.9901C109.775 71.1615 109.011 70.2737 108.443 69.3267L111.781 66.983C112.16 67.4801 112.639 68.0483 113.219 68.6875C113.799 69.3385 114.593 69.9008 115.599 70.3743C116.617 70.8596 117.948 71.1023 119.594 71.1023C121.795 71.1023 123.612 70.5696 125.045 69.5043C126.477 68.4389 127.193 66.7699 127.193 64.4972V58.9574H126.838C126.53 59.4545 126.092 60.0701 125.524 60.804C124.968 61.526 124.163 62.1712 123.109 62.7393C122.068 63.2957 120.659 63.5739 118.884 63.5739C116.682 63.5739 114.705 63.053 112.953 62.0114C111.213 60.9697 109.834 59.4545 108.816 57.4659C107.81 55.4773 107.307 53.0625 107.307 50.2216C107.307 47.428 107.798 44.9955 108.781 42.924C109.763 40.8407 111.13 39.2308 112.882 38.0945C114.634 36.9463 116.658 36.3722 118.955 36.3722C120.73 36.3722 122.139 36.6681 123.18 37.2599C124.234 37.84 125.039 38.5028 125.595 39.2486C126.163 39.9825 126.601 40.5862 126.909 41.0597H127.335V36.7273H131.384V64.7812C131.384 67.125 130.851 69.0308 129.786 70.4986C128.732 71.9782 127.312 73.0613 125.524 73.7479C123.749 74.4463 121.772 74.7955 119.594 74.7955ZM119.452 59.8097C121.133 59.8097 122.553 59.425 123.713 58.6555C124.873 57.8861 125.755 56.7794 126.359 55.3352C126.962 53.8911 127.264 52.1629 127.264 50.1506C127.264 48.1856 126.968 46.4515 126.376 44.9482C125.785 43.4448 124.909 42.267 123.749 41.4148C122.589 40.5625 121.156 40.1364 119.452 40.1364C117.676 40.1364 116.196 40.5862 115.013 41.4858C113.841 42.3854 112.959 43.5928 112.367 45.108C111.787 46.6231 111.497 48.304 111.497 50.1506C111.497 52.0445 111.793 53.7195 112.385 55.1754C112.989 56.6196 113.876 57.7559 115.048 58.5845C116.232 59.4013 117.7 59.8097 119.452 59.8097ZM143.244 47.5938V64H139.054V36.7273H143.102V40.9886H143.457C144.097 39.6037 145.067 38.491 146.369 37.6506C147.671 36.7983 149.352 36.3722 151.412 36.3722C153.259 36.3722 154.874 36.7509 156.259 37.5085C157.644 38.2543 158.721 39.3906 159.491 40.9176C160.26 42.4328 160.645 44.3504 160.645 46.6705V64H156.455V46.9545C156.455 44.812 155.898 43.143 154.786 41.9474C153.673 40.7401 152.146 40.1364 150.205 40.1364C148.867 40.1364 147.671 40.4264 146.618 41.0064C145.576 41.5864 144.754 42.4328 144.15 43.5455C143.546 44.6581 143.244 46.0076 143.244 47.5938ZM187.336 27.6364V64H182.933V27.6364H187.336ZM199.787 47.5938V64H195.597V36.7273H199.645V40.9886H200C200.64 39.6037 201.61 38.491 202.912 37.6506C204.214 36.7983 205.895 36.3722 207.955 36.3722C209.801 36.3722 211.417 36.7509 212.802 37.5085C214.187 38.2543 215.264 39.3906 216.034 40.9176C216.803 42.4328 217.188 44.3504 217.188 46.6705V64H212.998V46.9545C212.998 44.812 212.441 43.143 211.328 41.9474C210.216 40.7401 208.689 40.1364 206.748 40.1364C205.41 40.1364 204.214 40.4264 203.161 41.0064C202.119 41.5864 201.297 42.4328 200.693 43.5455C200.089 44.6581 199.787 46.0076 199.787 47.5938Z"
            fill="white"
          />
        </svg>
        <br />
        <a href="/register">No account? Register!</a>
      </button>
    </form>
  </body>
</html>
